<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h2>Let's Guess Your Gender</h2>
			<form class="form-inline">
				<div class="form-group">
					<label class="sr-only" for="height">Height</label>
					<input type="text" class="form-control" id="height" placeholder="Height in inches">
				</div>
				<div class="form-group">
					<label class="sr-only" for="weight">Weight</label>
					<input type="text" class="form-control" id="weight" placeholder="Weight in pounds (lbs)">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</div>
</div>