<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 result">
			<h2>Your Result!</h2>
			<p>Based on your height + weight, your gender is:</p>
			<p><%= @gender %></p>
		</div>
	</div>
</div>